<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" package="com.example.board_games_companion">

    <queries>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="https" />
        </intent>
        <intent>
            <action android:name="android.intent.action.SEND" />
            <data android:mimeType="*/*" />
        </intent>
    </queries>

    <application android:name="${applicationName}" android:label="Board Games Companion" android:icon="@mipmap/ic_launcher" android:allowBackup="false">
        <activity android:name=".MainActivity" android:launchMode="singleTop" android:theme="@style/LaunchTheme" android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode" android:hardwareAccelerated="true" android:windowSoftInputMode="adjustResize" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <!-- Specify that the launch screen should continue being displayed -->
        <!-- until Flutter renders its first frame. -->
        <meta-data android:name="io.flutter.embedding.android.SplashScreenDrawable" android:resource="@drawable/launch_background" />
        <!-- Theme to apply as soon as Flutter begins rendering frames -->
        <meta-data android:name="io.flutter.embedding.android.NormalTheme" android:resource="@style/NormalTheme" />
        <!-- Don't delete the meta-data below.
             This is used by the Flutter tool to generate GeneratedPluginRegistrant.java -->
        <meta-data android:name="flutterEmbedding" android:value="2" />

        <!-- MK Disable automatic screen reporting for Firebase analytics https://firebase.google.com/docs/analytics/screenviews#disable_screenview_tracking. 
                We're traking screen views manually in the analytics_route_observer -->
        <meta-data android:name="google_analytics_automatic_screen_reporting_enabled" android:value="false" />
        <!-- MK Disable advertisment ID collection as there's no ads in the app and this will prevent Google Play submission from happening because that's how the app is configured -->
        <meta-data android:name="google_analytics_adid_collection_enabled" android:value="false" />
    </application>

    <!-- MK Nees to explicitly remove the advertisment ID because of manigest merge. 
         "Some SDKs, such as the Google Mobile Ads SDK (play-services-ads) may already declare this permission in the SDK’s library manifest. 
         If your app uses these SDKs as dependencies, the AD_ID permission from the SDK’s library manifest will be merged with your app’s main manifest by default, 
         even if you don’t explicitly declare the permission in your app’s main manifest." -->
    <uses-permission android:name="com.google.android.gms.permission.AD_ID" tools:node="remove"/>
    <uses-permission android:name="android.permission.INTERNET" />

</manifest>
