
ASPNETCORE_USER_SECRETS_PATH=${APPDATA}/Microsoft/UserSecrets

ASPNETCORE_Kestrel__Certificates__Default__Password=password123456
ASPNETCORE_Kestrel__Certificates__Default__Path=/https/BGC.SearchApi.pfx