<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>718227562022-h8qelvujgtkectnr3j8sdcou48coddqg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.718227562022-h8qelvujgtkectnr3j8sdcou48coddqg</string>
	<key>API_KEY</key>
	<string>AIzaSyB-p5QtGGqZGCozU-vt6ITlalOGne1RuIU</string>
	<key>GCM_SENDER_ID</key>
	<string>718227562022</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.progrunning.boardgamescompanion</string>
	<key>PROJECT_ID</key>
	<string>board-games-companion</string>
	<key>STORAGE_BUCKET</key>
	<string>board-games-companion.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:718227562022:ios:56c660a2206709a39390e7</string>
	<key>DATABASE_URL</key>
	<string>https://board-games-companion.firebaseio.com</string>
</dict>
</plist>